.home-page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image-container {
  position: relative;
}

.middle-button {
  position: absolute;
  top: 14%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 10px 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}