
.navigation-buttons {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: row;
}

.navigation-buttons a {
  margin-right: 10px;
  padding: 10px 15px;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none; 
  border: none;
  cursor: pointer;
}

.navigation-buttons .active {
  text-decoration: underline;
}

